.App {
  text-align: center;
}

.top-left-name:hover {
  color: rgb(252,177,22);
}

.top-left-name-link {
  text-decoration: none !important;
}

.landing-page-background {
  background-image: url('./assets/Background2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.personal-statement-wrapper {
  width: 90vw;
  text-align: center;
}